.header {
    z-index: 1;
}

.cabecera-info {
    padding-bottom: 25px;
    background: #f7f7f7;
}
.cabecera-info__informacion {
    display: inline-block;
    flex-direction: row;
}

.cabecera-info__imagen {
    padding-top: 8px;
    list-style: none;
    position: absolute;
}

.cabecera-info__lista {
    display: none;
    padding-left: 650px;
    padding-top: 20px;
}
.cabecera-info__lista1 {
    display: inline-block;
    list-style: none;
    position: relative;
}

.cabecera-info__lista1 i {
    padding-left: 10px;
    color: #6B6B6B;
}
.cabecera-info__lista1 a {
    text-decoration: none;
    padding-left: 5px;
    color: #6B6B6B;
}

.cabecera-info__lista2 {
    font-size: x-large;
}

.navigation-bar__menu {
    display: inline-block;
    flex-direction: row;
}

.navigation-bar__boton {
    padding-left: 130px ;
    list-style: none;
    position: absolute;
}

.navigation-bar__boton1 {
    background-color: #67B500;
    color: #FFF;
}

.navigation-bar__lista {
    padding-left: 220px;
}

.navigation-bar__lista1 {
    display: inline-block;
    list-style: none;
    position: relative;
}

.navigation-bar__lista1 a {
    text-decoration: none;
    padding-left: 5px;
    color: #3A3F3A;
    padding-left: 10px;
    font-size: small;
}

.navigation-bar__lista1 a:hover {
    color: #67B500;
}

.cuerpo {
    padding-bottom: 100px;
    background: #f7f7f7;
}

.cuerpo__lista {
    display: inline-block;
    padding-left: 60px;
}


.cuerpo__lista1 {
    display: inline-block;
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: row;
}

.cuerpo__lista1 li a {
    text-decoration: none;
    color: #67B500;
    padding-left: 10px;
    position: relative;
}

.cuerpo__lista1 li:last-child a {
    color: #000;
}

.cuerpo__lista1-1 {
    font-size: small;
}
.cuerpo__lista1-1-2 {
    padding-left: 10px;
}

.cuerpo__caja {
    padding-left: 60px;
}

.cuerpo__caja1 {
    list-style: none;
    position: relative;
    display: flex;
}

.cuerpo__caja1-1 li {
    border-color: 12px solid #67B500;
    white-space: pre-line;
    
}
.cuerpo__caja1 a{
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    border: 1px solid #FFF;
    color: #FFF;
    background-color: #67B500;
    position: relative;
    font-family: "asapregular",Arial;
    font-size: 15px;
    margin: 10px;
}

/*Empieza de separacion*/
.cuerpo__linea {
    width: 900px;
    margin-left: 8.5%;
    opacity: 0.5;
}
/*Termina linea de separacion*/

/*Empieza cajon de imagenes*/
.cuerpo_cuadro {
    width: 40%;
}



/*Empieza  de cuadro1 "imagenes"*/
.cuerpo__cuadro1 {
    margin-left: 8.5%;
    display: inline-block;
    background-color: #FFF;
    position: absolute;
}

.cuerpo__cuadro2 {
    position: absolute;
    display: inline-block;
    display: flex;
    margin-left: 47%;
    background-color: #FFF;
}

/*Empieza el 2 article de cuadro*/
.cuerpo__imagen-titu {
    display: inline-block;
}
.cuerpo__imagen-titu-info-letra {
    font-family: "asapsemibold";
    color: #000;
    text-decoration: none;
    padding-left: 15px;
}

.cuerpo__imagen-titu-info-letra:hover {
    color: #67B500;
}

.cuerpo__imagen-titu-info-1 {
    padding-left: 15px;
}

.cuerpo__imagen-titu-info-2 {
    padding-left: 15px;
}

/*Empieza el 3 article de cuadro*/

.cuerpo__imagen-precio {
    padding-left: 15px;
    padding-top: 60px;
    padding-bottom: 10px;
}

.cuerpo__imagen-precio-1 {
    color: #929292;
    font-family: "asapregular",sans-serif;
    font-size: small;
}

.cuerpo__imagen-precio-2 {
    font-size: xx-large;
    color: #67B500;
    font-family: inherit;
    text-decoration: none;
}

.cuerpo__imagen-precio-boton {
    padding-left: 180px;
}

.cuerpo__imagen-precio-boton1 {
    border: 1px solid #67B500;
    color: #67B500;
    padding: 15px;
    position: relative;
    text-decoration: none;
}

.cuerpo__imagen-precio-boton1:hover {
    background-color: #67B500;
    color: #FFF;
}

.fas fa-angle-right {
    margin-left: 10px;
}
/*Termina cuadro1*/
/*Termina cajon de imagenes*/

/*Empieza notificacion*/
.cuerpo_notificacion {
    display: inline-block;
    background-color: #FFF;
    margin-top: 35%;
    margin-left: 10%;
    width: 78%;
}


.cuerpo_notificacion-informacion {
    list-style: none;
    white-space: pre-line;
}

.cuerpo_notificacion1 {
    font-size: 90%;
    color: #929292;
}
/*Termina notificacion*/

/*Empieza segunda linea*/
.cuerpo__linea2 {
    margin-top: 5%;
    opacity: 0.5;
}
/*Termina segunda linea*/


/*Empieza informacion*/
.cuerpo__informa {
    white-space: pre-line;
    list-style: none;
    display: flex;
    margin-left: 10%;
    margin-top: 1%;
    width: 80%;
}

.cuerpo__informa1 {
    display: flex;
    flex-direction: row;
}
.cuerpo__informacion1 {
    list-style: none;
    
    border: 1px solid rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.cuerpo__informacion1 a{
    text-decoration: none;
    color: #000;
}
.cuerpo__informacion1:hover {
    background-color: #FFF;
    
}

.cuerpo__informacion1 a:hover {
    color: #67B500;
}
/*Termina informacion*/

.cuerpo__cajas {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 10%;
    width: 79%;
}

.cuerpo__imagenes1 {
    position: relative;
    display: inline-block;
    white-space: pre-line;
}

.cuerpo__imagenes1-1 {
    border: 1px solid  rgba(0, 0, 0, 0.1);
}

.cuerpo__imagenes1 li {
    list-style: none;
    text-decoration: none;
    
}

/*Primer cuadro imagen*/
.cuerpo__imagenes1-2 {
    position: absolute;
    top: 20%;
    margin-left: 5%;
    color: #FFF;
    font-size: 120%;
}

.cuerpo__imagenes1-3 {
    position: absolute;
    top: 41%;
    color: #FFF;
    margin-left: 5%;
    font-size: 110%;
}

.cuerpo__imagenes1-4 {
    position: absolute;
    top: 48%;
    color: #fff;
    margin-left: 5%;
    border: 1px solid #fff;
    padding: 10px 15px; 
}

.cuerpo__imagenes1-5 {
    font-size: 75%;
}
/*Primer cuadro imagen fin*/

/*Segundo cuadro imagen */
.cuerpo__imagenes2-2 {
    position: absolute;
    top: 20%;
    margin-left: 5%;
    font-size: 140%;
}

.cuerpo__imagenes2-3 {
    position: absolute;
    top: 36%;
    margin-left: 5%;
    font-size: 95%;
    opacity: 0.7;
}

.cuerpo__imagenes2-4 {
    position: absolute;
    top: 48%;
    margin-left: 5%;
    border: 1px solid;
    padding: 10px 15px; 
}

.cuerpo__imagenes1-5 {
    font-size: 75%;
}
/*Segundo cuadro imagen fin*/

/*Tercer cuadro imagen */
.cuerpo__imagenes3-2 {
    position: absolute;
    top: 27%;
    margin-left: 5%;
    font-size: 125%;
}

.cuerpo__imagenes3-3 {
    position: absolute;
    top: 36%;
    margin-left: 5%;
}

.cuerpo__imagenes1-5 {
    font-size: 75%;
}
/*Tercer cuadro imagen fin*/

/*Empieza listado de informacion*/
.cuerpo__lista-todo {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    width: 135%;
    margin-top: 30%;
    justify-content: space-around;
}

.cuerpo__lista-informacion {
    display: inline-block;
    text-align: center;
}

.cuerpo__lista1 {
    list-style: none;
    text-decoration: none;
    white-space: pre-line;
    text-align: center;
    margin-left: 5%;
    font-size: 130%;
    width: 120%;
    color: #67B500;
}

.cuerpo__lista2 {
    list-style: none;
    text-decoration: none;
    opacity: 0.7;
}

.cuerpo__lista2 a{
    text-decoration: none;
    color: #000;
}

.cuerpo__lista-informacion1 {
    width: 20%;
}
.cuerpo__lista2-1 {
    margin-left: 8%;
}
/*Termina listado de informacion*/

/*Empieza footer*/
.footer__cajas {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.footer__cajas li{
    list-style: none;  
    white-space: pre-line; 
}

/*Empieza caja 1*/
.footer__caja1-1 {
    width: 50%;
}

.footer__caja1 {
    display: inline-block;
    font-size: 130%; 
    text-align: right;
}

.footer__caja1-span{
    opacity: 0.6;
    
}
/*Termina caja 1*/

/*Empieza caja 2*/
.footer__caja1-2 {
    display: inline-block;
    width: 40%;
    margin-top: 38px;
}

.footer__caja-3 {
    display: inline-block;
    font-size: 110%; 
    opacity: 0.5;
    margin-top: 5%;
}


/*Termina caja 2*/

/*Empieza caja 3*/
.footer__caja1-4 {
    display: inline-block;
    width: 120%;
    margin-top: 57px;
}
.footer__caja3 {
    opacity: 0.5;
}
/*Termina caja 3*/

/*Empieza caja2 ultima*/
.footer__cajas-ultima {
    display: inline-block;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    width: 80%;
}

.footer__cajas-ultima li{
    list-style: none;  
}

.footer__caja2 {
    display: inline-block;
    font-size: 85%;
}
.footer__caja2-2 {
    display: inline-block;
    margin-left: 32%;
    font-size: 85%;
}

.footer__caja2-3 {
    display: inline-block;
    font-size: 160%;
}

.footer__caja2-4-1 {
    font-size: 220%;
    color: #67B500
}
/*Termina caja2 ultima*/

/*Termina footer*/











@media screen and (min-width: 600px) {


    /* Código CSS que solo aplica a pantallas con ancho > 480 */
    .cabecera-info__imagen {
        padding-left: 130px ;
    }

    .cabecera-info__lista {
        display: block;
    }


}