.mi-botton-bonito {
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
    background: #000;
    color: #fff
}

.fila {
    display: flex;
    justify-content: space-around;
}

.fila__columna {
    flex-grow: 1;
    

}