@import "_variables";
body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
}
.wrapper {
  .card {
    .section-one {
      -webkit-clip-path: polygon(0 0, 67% 0, 93% 100%, 0% 100%);
      clip-path: polygon(0 0, 67% 0, 93% 100%, 0% 100%);
      .section-one__products {
        .section-one__products_-wrapper_img {
          img {
            width: 50px;
          }
        }
      }
    }
  }
}
