<div class="footer">
    <div>
        <p class="parrafo"><a href="">España</a></p>
    </div>
    <div>
        <div class="listas">
            <ul class="lista1">
                <li><a href="">Publicidad</a></li>
                <li><a href="">Empresa</a></li>
                <li><a href="">Acerca de</a></li>
                <li><a href="">Cómo funciona la Búsqueda</a></li>
            </ul>
            
            <ul class="lista2">
                <li><a href="">Privacidad</a></li>
                <li><a href="">Condiciones</a></li>
                <li><a href="">Configuración</a></li>
            </ul>
        </div>
        
    </div>
    <hr class="hr">
    

</div>