.body {
  /*Empezamos cabecera*/
  /*Busqueda de articulos*/
  /*Lista de Menu*/
  /*Construccion del cuerpo*/
}

.body li {
  list-style: none;
}

.body a {
  text-decoration: none;
  color: #000;
}

.body .cabecera {
  /* Titulo y busqueda de cabecera*/
}

.body .cabecera img {
  display: inline-block;
  width: 15%;
  margin-left: 40%;
  margin-top: 5%;
}

.body .cabecera ul {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 13%;
  margin-top: 5%;
}

.body .cabecera li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 4%;
  white-space: pre-line;
}

.body .cabecera strong {
  color: #000;
}

.body .cabecera__primero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body .cabecera__primero .cabecera__buscador2 {
  font-size: small;
}

.body .cabecera__primero .cabecera__buscador3 {
  display: inline-block;
  padding-left: 80%;
}

.body .cabecera__primero .cabecera__buscador4 {
  display: inline-block;
  padding-left: 45%;
}

.body .cabecera__primero .cabecera__raya {
  display: inline-block;
  position: absolute;
  left: 71%;
  width: 18%;
  height: 1px;
  top: 15%;
  background-color: #000;
}

.body .cabecera__segundo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -3%;
}

.body .cabecera__segundo ul {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 33%;
  margin-top: 5%;
}

.body .cabecera__segundo li {
  margin-left: 3%;
  font-size: 95%;
}

.body .cabecera__segundo a {
  color: #d6d6d6;
}

.body .cabecera__segundo .cabecera__buscador1-2 {
  font-size: 80%;
  padding-top: 2px;
}

.body .cabecera__segundo .cabecera__buscador1-7 {
  margin-left: 50%;
  margin-right: 2%;
}

.body .cabecera__segundo .cabecera__buscador1-9 {
  color: #0BFF81;
}

.body .cabecera__segundo .cabecera__buscador1-10 {
  margin-left: 6%;
}

.body .cabecera__segundo .cabecera__buscador1-11 {
  margin-left: 6%;
}

.body .cabecera__menu {
  display: inline-block;
  position: absolute;
  top: 10%;
}

.body .cabecera__menu img {
  display: inline-block;
  position: absolute;
  width: 15px;
  left: -35%;
  top: -1%;
  z-index: 5;
}

.body .cabecera__menu span {
  font-size: 130%;
  color: #000;
}

.body .cabecera__menu li {
  margin-left: 10%;
  margin-top: 3%;
}

.body .cabecera__menu a {
  color: #000;
  font-size: 130%;
}

.body .cabecera__menu a:hover {
  font-size: x-large;
}

.body .cabecera__menu .cabecera__menu1 {
  left: 10%;
}

.body .cabecera__menu .cabecera__span {
  margin-left: 10%;
}

.body .cabecera__menu .cabecera__menu1-1 {
  opacity: 0;
  display: inline-block;
  position: absolute;
  width: 20%;
  z-index: 5;
  top: 20%;
}

.body .cabecera__menu .cabecera__menu1-1:hover {
  opacity: 1;
  -webkit-transition-duration: 0.5;
          transition-duration: 0.5;
}

.body .cabecera__menu .cabecera__menu1-2 {
  color: red;
}

.body .cuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /*Informacion*/
  /*Informacion1*/
  /*Informacion2*/
}

.body .cuerpo .cuerpo__foto1 {
  width: 20%;
  margin-left: 2%;
}

.body .cuerpo .cuerpo__foto1-1 {
  display: inline-block;
  width: 60%;
}

.body .cuerpo .cuerpo__foto1-1-solido {
  display: inline-block;
  position: absolute;
}

.body .cuerpo .cuerpo__foto1-1-nosolido {
  display: inline-block;
  position: relative;
}

.body .cuerpo .cuerpo__foto1-1-letra1 {
  diplay: inline-block;
  position: relative;
  margin-top: 2%;
  text-align: center;
  width: 245%;
}

.body .cuerpo .cuerpo__foto1-1-letra2 {
  diplay: inline-block;
  position: relative;
  margin-top: 1%;
  text-align: center;
  width: 235%;
}

.body .cuerpo .cuerpo__foto1-1-nosolido:hover {
  opacity: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.body .cuerpo .cuerpo__informacion {
  display: inline-block;
  position: absolute;
  margin-top: 40%;
  margin-left: 25%;
  text-align: center;
}

.body .cuerpo .cuerpo__informacion hr {
  position: relative;
  margin-top: 15%;
  width: 244%;
  height: 1px;
  opacity: 0.5;
  left: -65%;
}

.body .cuerpo .cuerpo__informacion-letra {
  margin-top: 5%;
}

.body .cuerpo .cuerpo__informacion1 {
  display: inline-block;
  position: absolute;
  margin-top: 55%;
  margin-left: 17%;
  text-align: center;
}

.body .cuerpo .cuerpo__informacion1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 150%;
}

.body .cuerpo .cuerpo__informacion1 li {
  margin-left: 5%;
}

.body .cuerpo .cuerpo__informacion1 h2 {
  margin-left: 10%;
  width: 130%;
}

.body .cuerpo .cuerpo__informacion1 a {
  font-size: 130%;
  color: #000;
}

.body .cuerpo .cuerpo__informacion2 {
  display: inline-block;
  position: absolute;
  margin-top: 70%;
  margin-left: 25%;
  text-align: center;
}

.body .cuerpo .cuerpo__informacion2 strong {
  font-size: 198%;
}

.body .cuerpo .cuerpo__informacion2 .cuerpo__informacion2-2 {
  font-size: 200%;
}

.body .cuerpo .cuerpo__informacion2 .cuerpo__informacion2-3 {
  font-size: 110%;
  margin-top: 10%;
}

.body .cuerpo .cuerpo__informacion2 .cuerpo__informacion2-3 a {
  color: #000;
}

.body .cuerpo .cuerpo__informacion2 .cuerpo__raya1 {
  position: absolute;
  height: 1px;
  background-color: #000;
  width: 120%;
  left: -7%;
}

.body .cuerpo .cuerpo__informacion2 .cuerpo__raya2 {
  position: absolute;
  height: 1px;
  width: 236%;
  left: -65%;
  top: 140%;
  opacity: 0.5;
}

.body .footer__final {
  display: inline-block;
  position: absolute;
  margin-top: 60%;
  width: 100%;
}

.body .footer__final li {
  margin-top: 6%;
}

.body .footer__final .footer__cajas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.body .footer__final .footer__caja1 {
  margin-left: 2%;
}
/*# sourceMappingURL=pull&bear.css.map */