<div class="lista">
    <div class="lista__encabezado">
        <ul>
            <li><a href="">Predicción</a></li>
            <li><hr class="hr"></li>
            <li><a href="">Mapas</a></li>
            <li><hr class="hr"></li>
            <li><a href="">Actividades</a></li>
            <li><hr class="hr"></li>
            <li><a href="">Salud</a></li>
            <li><hr class="hr"></li>
            <li><a href="">Calidad del Aire</a></li>
            <li><hr class="hr"></li>
            <li><a href="">Noticias</a></li>
            <li><hr class="hr"></li>
            <li><a href="">Fotos</a></li>
            <li><hr class="hr"></li>
            <li><a href="">Videos</a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
</div>

<i class="fa fa-briefcase"></i>